In [5]:
import pandas as pd

import numpy as np

In [6]:
df = pd.read_csv('/Users/eshanakshata/Desktop/Q7.csv')

In [7]:
df

             Unnamed: 0  Points  Score  Weigh
0             Mazda RX4    3.90  2.620  16.46
1         Mazda RX4 Wag    3.90  2.875  17.02
2            Datsun 710    3.85  2.320  18.61
3        Hornet 4 Drive    3.08  3.215  19.44
4     Hornet Sportabout    3.15  3.440  17.02
5               Valiant    2.76  3.460  20.22
6            Duster 360    3.21  3.570  15.84
7             Merc 240D    3.69  3.190  20.00
8              Merc 230    3.92  3.150  22.90
9              Merc 280    3.92  3.440  18.30
10            Merc 280C    3.92  3.440  18.90
11           Merc 450SE    3.07  4.070  17.40
12           Merc 450SL    3.07  3.730  17.60
13          Merc 450SLC    3.07  3.780  18.00
14   Cadillac Fleetwood    2.93  5.250  17.98
15  Lincoln Continental    3.00  5.424  17.82
16    Chrysler Imperial    3.23  5.345  17.42
17             Fiat 128    4.08  2.200  19.47
18          Honda Civic    4.93  1.615  18.52
19       Toyota Corolla    4.22  1.835  19.90
20        Toyota Corona    3.70  2.465  20.01
21     Dodge Challenger    2.76  3.520  16.87
22          AMC Javelin    3.15  3.435  17.30
23           Camaro Z28    3.73  3.840  15.41
24     Pontiac Firebird    3.08  3.845  17.05
25            Fiat X1-9    4.08  1.935  18.90
26        Porsche 914-2    4.43  2.140  16.70
27         Lotus Europa    3.77  1.513  16.90
28       Ford Pantera L    4.22  3.170  14.50
29         Ferrari Dino    3.62  2.770  15.50
30        Maserati Bora    3.54  3.570  14.60
31           Volvo 142E    4.11  2.780  18.60

In [28]:
Mean_Points = df['Points'].mean()
Median_Points = df['Points'].median()
Mode_Points = df['Points'].mode().tolist()
Variance_Points = df['Points'].var()
Std_dev_Points = df['Points'].std()
Range_points = df['Points'].max() - df['Points'].min()

print("Mean of Points:",Mean_Points)
print("Median of Points:",Median_Points)
print("Mode of Points:",Mode_Points)
print("Variance of Points:",Variance_Points)
print("Standard deviation of Points:",Std_dev_Points)
print("Range for Points:",Range_points)

Mean of Points: 3.5965625
Median of Points: 3.6950000000000003
Mode of Points: [3.07, 3.92]
Variance of Points: 0.28588135080645166
Standard deviation of Points: 0.5346787360709716
Range for Points: 2.17

In [26]:
Mean_Score = df['Score'].mean()
Median_Score = df['Score'].median()
Mode_Score = df['Score'].mode().tolist()
Variance_Score = df['Score'].var()
Std_dev_Score = df['Score'].std()
Range_Score = df['Score'].max() - df['Score'].min()

print("Mean of Score:",Mean_Score)
print("Median of Score:",Median_Score)
print("Mode of Score:",Mode_Score)
print("Variance of Score:",Variance_Score)
print("Standard deviation of Score:",Std_dev_Score)
print("Range for Score:",Range_Score)

Mean of Score: 3.2172500000000004
Median of Score: 3.325
Mode of Score: [3.44]
Variance of Score: 0.9573789677419356
Standard deviation of Score: 0.9784574429896967
Range for Score: 3.9110000000000005

In [27]:

Mean_Weigh = df['Weigh'].mean()
Median_Weigh = df['Weigh'].median()
Mode_Weigh = df['Weigh'].mode().tolist()
Variance_Weigh = df['Weigh'].var()
Std_dev_Weigh = df['Weigh'].std()
Range_Weigh = df['Weigh'].max() - df['Weigh'].min()

print("Mean of Weigh:",Mean_Weigh)
print("Median of Weigh:",Median_Weigh)
print("Mode of Weigh:",Mode_Weigh)
print("Variance of Weigh:",Variance_Weigh)
print("Standard deviation of Weigh:",Std_dev_Weigh)
print("Range for Weigh:",Range_Weigh)

Mean of Weigh: 17.848750000000003
Median of Weigh: 17.71
Mode of Weigh: [17.02, 18.9]
Variance of Weigh: 3.193166129032258
Standard deviation of Weigh: 1.7869432360968431
Range for Weigh: 8.399999999999999